@import "../../styles/variables.module";

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;

  span {
    color: $white;
    padding: 0 6px;
    font-size: 12px;
    background-color: $orange;
    border-radius: 6px;
    position: relative;
    right: 10px;
    bottom: 16px;
  }
}