@import "../../styles/variables.module";

.container {
  position: inherit;

  .button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;

    span {
      color: $white;
      padding: 0 6px;
      background-color: $orange;
      border-radius: 6px;
      bottom: 16px;
      font-size: 12px;
      position: relative;
      right: 10px;
    }
  }

  .cartInfo {
    background-color: $white;
    border-radius: 16px;
    box-shadow: 5px 5px 10px $gray;
    height: 170px;
    margin-top: 15px;
    position: absolute;
    right: 90px;
    width: 270px;
    z-index: 2;

    .title {
      padding: 10px;
    }

    .divider {
      background-color: $gray;
      height: 1px;
      margin: 0 auto;
      width: 90%;
    }

    .info {
      align-items: center;
      display: flex;
      padding: 10px;

      .emptyCart {
        color: $dark-gray;
        font-size: 18px;
        margin: auto;
      }

      div {
        p {
          color: $dark-gray;
          font-size: 14px;

          span {
            color: $black;
            font-weight: 700;
          }
        }
      }

      button {
        background-color: transparent;
        border: none;
        padding: 5px;
      }
    }
  }
}

@media (min-width: 551px) and (max-width: 900px) {
  .container {
    .cartInfo {
      right: 20px;
    }
  }
}

@media (max-width: 550px) {
  .container {
    .cartInfo {
      right: 10px;
      z-index: 0;
    }
  }
}