@import "../../styles/variables.module";

.container {
  .imageProduct {
    border-radius: 16px;
  }

  div {
    display: flex;
    gap: 20px;
    padding: 20px 10px;

    img {
      border-radius: 8px;
      cursor: pointer;
    }

    .selected {
      border: 2px solid $orange;
      opacity: 50%;
    }
  }
}

@media (min-width: 551px) and (max-width: 900px) {
  .container {
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .container {
    margin: 0 auto;

    .imageProduct {
      height: 250px;
      width: 250px;
    }

    div {
      gap: 7px;
      padding: 20px 0;

      img {
        height: 60px;
        width: 60px;
      }
    }
  }
}