@import "../../styles/variables.module";

.main {
  display: flex;
  gap: 60px;
  padding: 50px 140px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .company {
      color: $orange;
      font-weight: 700;
      text-transform: uppercase;
    }

    .description {
      color: $dark-gray;
      font-size: 14px;
    }

    .price {
      align-items: center;
      display: flex;
      gap: 10px;
      
      p {
        font-size: 22px;
        font-weight: 700;
      }

      span {
        color: $orange;
        font-size: 12px;
      }
    }

    .fullprice {
      color: $gray;
      font-size: 12px;
      text-decoration: line-through;
    }

    .buttonContainer {
      display: flex;
      gap: 20px;
      
      div {
        button {
          background-color: transparent;
          border: none;
          color: $orange;
          cursor: pointer;
          font-size: 22px;
          font-weight: 700;
          padding: 10px;
        }

        span {
          margin: 0 7px;
        }
      }

      > button {
        align-items: center;
        background-color: $orange;
        border: none;
        border-radius: 8px;
        color: $white;
        cursor: pointer;
        display: flex;
        gap: 10px;
        justify-content: center;
        width: 130px;

        svg {
          fill: #ffffff;
        }
      }

      > button:disabled {
        cursor: not-allowed;
        opacity: 70%;
      }
    }
  }
}

@media (min-width: 551px) and (max-width: 900px) {
  .main {
    flex-direction: column;
    padding: 20px 40px;

    .container {
      gap: 20px;

      .buttonContainer {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 550px) {
  .main {
    flex-direction: column;
    padding: 20px;

    .container {
      gap: 20px;

      .buttonContainer {
        justify-content: center;
      }
    }
  }
}