@import "../../styles/variables.module";

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px 140px;
  position: relative;

  .container {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .userContainer {
    align-items: center;
    display: flex;
    gap: 20px;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  .divider {
    width: 80%;
    height: 1px;
    background-color: $gray;
    position: absolute;
    bottom: 0px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 20px;
    max-width: 100%;

    .container {
      gap: 30px;

      .list {
        gap: 15px;
      }
    }
  }
}