@import "../../styles/variables.module";

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px 140px;
  position: relative;

  .container {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .userContainer {
    align-items: center;
    display: flex;
    gap: 20px;
  }

  .divider {
    width: calc(100% - 280px);
    height: 1px;
    background-color: $gray;
    position: absolute;
    bottom: 0px;
  }
}

@media (min-width: 551px) and (max-width: 900px) {
  .header {
    padding: 20px 10px;
    .container {
      gap: 20px;
    }
    .divider {
      width: calc(100% - 20px);
    }
  }
}

@media (max-width: 550px) {
  .header {
    padding: 30px 10px;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        position: relative;
        left: 60px;
      }

      .hamburgerMenu {
        display: block;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 200px;
        background-color: $white;

        .hamburgerIcon {
          padding: 20px;

          .bar {
            background-color: $dark-gray;
            height: 3px;
            width: 25px;
            margin: 5px 0;
          }
        }

        ul {
          li {
            a {
              position: inherit;
            }
          }
        }
      }
      .open {
        display: block;
        z-index: 1;
        width: auto;
        background-color: $white;
        position: absolute;

        .hamburgerIcon {
          padding-bottom: 15px;
          padding: 10px;

          .bar {
            background-color: $dark-gray;
            height: 3px;
            width: 25px;
            margin: 5px 0;
          }
        }
        ul {
          display: none;
        }
      }
    }
    .divider {
      display: none;
    }
  }
}