@import '../../../styles/variables.module';

.list {
  display: flex;
  gap: 20px;
  list-style: none;
  position: relative;

  .active {
    background-color: $orange;
    width: 100%;
    height: 3px;
    display: block;
    position: relative;
    top: 40px;
    z-index: 1;
  }
  
  li {
    a {
      color: $dark-gray;
      text-decoration: none;
    }
  }
}